<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movers</title>
</head>
<body>
    <a th:href="@{/quote}">Get quotes</a>
    <a th:href="@{/portfolio}">My portfolio</a>
    <a th:href="@{/watchlist}">My watchlist</a>

    <h1> Top Movers </h1>
    <br>
    <hr>
    <h2> S&P 500 </h2>

    <table>
        <tr>
            <td> <h3> Ticker </h3></td>
            <td> <h3> Description </h3></td>
            <td> <h3> % Change </h3> </td>
            <td> <h3> Last Done </h3> </td>
        </tr>
        <tr>
            <td> <h4> SnP Gainers <br></h4></td>
        </tr>
        <tr th:each="mover: ${MoverList}">
            <td th:text="${mover.symbol}"> </td>
            <td th:text="${mover.description}"> </td>
            <td th:text="${mover.change}"> </td>
            <td th:text="${mover.last}"> </td> 
        </tr>
        <tr>
            <td> <br><h4> SnP Losers </h4>   </td>
        </tr>
        <tr th:each="mover: ${SnPLoserList}">
            <td th:text="${mover.symbol}"> </td>
            <td th:text="${mover.description}"> </td>
            <td th:text="${mover.change}"> </td>
            <td th:text="${mover.last}"> </td> 
    </table>



</body>
</html>