<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
             <a th:href="@{/}" class="navbar-brand"> Stonkshub </a>
             <button 
                class="navbar-toggler" 
                type="button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" 
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Get quotes</a></li>
                    <li><a class="nav-link" th:href="@{/movers}">Top movers</a></li>
                    <li><a class="nav-link"  th:href="@{/portfolio}">My portfolio</a></li>
                    <li><a class="nav-link"  th:href="@{/watchlist}">My watchlist</a></li>
                </ul>
             </div>
        </div>
    </nav>  
    <div class="container-fluid" style="background-color:black; color:#faf3e3">
        <div class="row"></div>                 <!-- Start of CONTENT -->
        <div class="row ms-4 mt-3">
            <h1>  Ticker Search </h1>
        </div>
        <div class="row ms-4">
            <form th:action="@{/quote}">
                <div class="input-group">
                    <input style="border:none;" type="text" name="ticker" placeholder="Enter ticker"/>
                    <input style="background-color:#ff9f29; border:none;" type="submit" value="GET QUOTE" />
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-auto mt-3" id="msg" th:if="${Quote.symbol==null}">
                <div class="alert ms-4" style="background-color:#faf3e3; color:black">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <span th:text="${Quote.description}"></span> 
                </div>
            </div>
        </div>
        <div class="row" th:if="${Quote.symbol!=null}">             <!-- Start of Card -->
            <div class="card m-5" style="max-width: 20rem; background-color: #1a4d2e;">
                <div class="card-header" style="background-color:white; color:black">
                    <div class="row">
                        <div class="col-auto">
                            <img th:src="${Profile.logo}" width=80 height=80/>
                        </div>
                        <div class="col">
                            <div style="display:flex; justify-content:space-between;">
                                <span style="font-size:30px; font-weight:bold"  th:text="${Quote.symbol}"></span>
                             
                                    <button><a style="font-size:x-large;" th:href="@{${'/addToWatch/' + Quote.symbol}}"><i class="bi bi-star"></i></a></button>

                            </div>
                            <h6 style="margin-top:-1px;"  th:text="${Quote.description}"></h6>
                        </div>
                    </div>                    

                    <a th:href="@{${Profile.weburl}}"/><span th:text=${Profile.weburl}></span></a>
                    <br>
                    <!--  <a th:href="@{${'/addToWatch/' + Quote.symbol}}"> ADD TO WATCHLIST </a>  Comment out this link first -->
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h4 align="center" th:text="${'Last Done: ' + Quote.lastPrice}"></h4>
                        <h4 align="center" style="margin-top:-10px;" th:text="${'Change: ' + Quote.netChange}"></h4>
                        <div align="center">
                            <span th:text="${'Volume: ' + #numbers.formatDecimal(Quote.totalVolume,1,'COMMA',2,'DEFAULT') }"/>
                        </div>
                    </p>
                    <p class="card-text">
                        <span th:text="${'Industry: ' + Profile.Industry}"/>
                        <br>
                        <span th:text="${'IPO Date: ' + Profile.ipoDate}"/>
                        <br>
                        <span th:text="${'Market Cap (m): ' + #numbers.formatDecimal(Profile.marketCapitalization,1,'COMMA',2,'DEFAULT')}"/>
                        <br>
                        <span th:text="${'Total Shares O/S (m): ' + Profile.shareOutstanding}"/>
                        <br>        
                        <span th:text="${'52 week High: ' + Quote.yearHigh}"/>
                        <br>
                        <span th:text="${'52 week Low: ' + Quote.yearLow}"/>
                        <br>
                        <span th:text="${'PE ratio: ' + #numbers.formatDecimal(Quote.peRatio,1,'COMMA',2,'DEFAULT') }"/>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>