<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist </title>
    <style>
        #watchlisttable td, #watchlisttable th 
        {   border: 1px solid #ddd;
            padding: 4px;               }

        #watchlisttable tr:nth-child(even){background-color: #f2f2f2;}

        #watchlisttable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>
<body>
    <a th:href="@{/}">Get Quote</a>
    <a th:href="@{/portfolio}">My Porfolio</a>
    <a th:href="@{/movers}">Top movers</a>
    <h2> My watchlist </h2>
    <form th:action="@{/watchlist}">
        <h4>Retrieve WatchList</h4>
        <input type="text" th:field="${Watchlist.username}" placeholder="Enter username" required/>
        <input type="submit" value="GET WATCHLISTS"/>
    </form>
    <hr>
    <div id="username">
        <h3  th:text="${Watchlist.username!=null} ? 
        ${'Displaying ' + Watchlist.username + ' watchlist ... ...'}"></h3>
        <h4 th:if="${Watchlist.watchList==null}"> No items added </h4>
    </div>
    <form th:action="@{/addToWatch}">
        <input type="text" th:field="${Watchlist.ticker}" placeholder="Pls enter ticker" required/>
        <input type="submit" value="ADD TICKER"/>
    </form>
    <div id="msg">
        <h3 th:text="${Watchlist.ErrorMsg}"></h3>
    </div>
    <table id="watchlisttable" style="border: 1px solid black;" th:if="${Watchlist.watchList != null}">
        <tr>
            <th> ticker/description </th>
            <th> </th>
            <th> Last done/ Net Change </th>
            <th> % change </th>
            <th> Volume ('000) </th>
            <th> 52 week High </th>
            <th> 52 week Low </th>
        </tr>
        <tr th:each="Quote:${Watchlist.quotes}">
            <td>
            <p><span th:text="${Quote.symbol}"></span></p>
            <p><h5 style="margin-top:-15px; margin-bottom:0px;" th:text="${Quote.description}"></h5></p>
            </td>
            <td><a th:href="@{'/remove/' + ${Quote.symbol}}" >REMOVE</a>  </td>     
            <td>
                <p><span th:text="${Quote.lastPrice}"></span></p>
                <h4 th:if="${Quote.netChange ge 0}" style="margin-top:-15px; color:green" th:text="${Quote.netChange}"></h4>
                <h4 th:if="${Quote.netChange < 0}" style="margin-top:-15px; color:red" th:text="${Quote.netChange}"></h4>
            </td>
            <td><span th:text="${#numbers.formatDecimal(Quote.netChange/Quote.lastPrice*100,1,3) + '%'}"></span></td>
            <td th:text="${#numbers.formatDecimal(Quote.totalVolume/1000,1,'COMMA',1,'DEFAULT')}"></td>
            <td th:text="${Quote.yearHigh}"></td>
            <td th:text="${Quote.yearLow}"></td>
        </tr>
    </table>
</body>
</html>