<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        #watchlisttable td, #watchlisttable th 
        {   border: 1px solid #ddd;
            padding: 4px;               
            color:#faf3e3;          }

        #watchlisttable tr:nth-child(even){background-color: #1A4d2e;}

        #watchlisttable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
             <a href=# class="navbar-brand"> StonksHub </a>
             <button 
                class="navbar-toggler" 
                type="button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" 
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Get quotes</a></li>
                    <li><a class="nav-link" th:href="@{/movers}">Top movers</a></li>
                    <li><a class="nav-link"  th:href="@{/portfolio}">My portfolio</a></li>
                    <li><a class="nav-link active" aria-current="page" th:href="@{/watchlist}">My watchlist</a></li>
                </ul>
             </div>
        </div>
    </nav>   

    <div class="container-fluid" style="background-color:black; color:#faf3e3;">
        <div class="row mt-5"> </div>   <!-- Start of CONTENT -- START OF CONTENT  -->
        <div class="row mt-3">
            <div class="col">
                <h2> My watchlist </h2>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <form th:action="@{/watchlist}">
                    <div class="input-group">
                        <label> Username </label>
                        <input style="border:none;" type="text" th:field="${Watchlist.username}" placeholder="Enter username" required/>
                        <input style="background-color:#FF9f29; border:none" type="submit" value="GET WATCHLISTS"/>
                    </div>
                </form>
            </div>
            
        </div>

        <div class="row mt-1">
            <div id="username">
                <div class="col-fluid" style="color:#FF9F29;" th:if="${Watchlist.username!=null}">
                    <h4><i class="bi bi-person-badge-fill"></i>
                        <span th:text="${'Displaying ' + Watchlist.username}"></span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row mt-1" th:if="${Watchlist.username!=null}">
            <form th:action="@{/addToWatch}">
                <div class="input-group">
                    <input style="border:none;" type="text" th:field="${Watchlist.ticker}" placeholder="Pls enter ticker" required/>
                    <input style="background-color:#FF9f29; border:none" type="submit" value="ADD TICKER"/>
                </div>
            </form>
            <div id="msg">
                <h3 th:text="${Watchlist.ErrorMsg}"></h3>
            </div>
        </div>
        <div class="class row">         <!-- WATCHLIST table -- Watchlist table -->
            <table class="table table-sm" id="watchlisttable" style="border: 1px solid black;" th:if="${Watchlist.quotes != null}">
                <tr>
                    <th> <div style="display:flex; justify-content:space-between;">
                            TICKER/ DESCRIPTION
                            <h3>
                            <a th:if="${Watchlist.sorting=='tickerUp'}" style="color:#FF9F29" th:href="@{/sortTicker}"><i class="bi bi-sort-up"></i></a>
                            <a th:if="${Watchlist.sorting=='tickerDown'}" style="color:#FF9F29" th:href="@{/sortTicker}"><i class="bi bi-sort-down"></i></a>
                            <a th:unless="${Watchlist.sorting=='tickerUp' OR Watchlist.sorting=='tickerDown'}" style="color:#faf3e3" th:href="@{/sortTicker}"><i class="bi bi-sort-up"></i></a>
                            </h3>
                        </div>
                    </th>
                    <th><div style="display:flex; justify-content:space-between;"> 
                            LAST DONE/ NET CHANGE
                            <h3>
                            <a th:if="${Watchlist.sorting=='netUp'}" style="color:#FF9F29" th:href="@{/sortNetChange}"><i class="bi bi-sort-up"></i></a>
                            <a th:if="${Watchlist.sorting=='netDown'}" style="color:#FF9F29" th:href="@{/sortNetChange}"><i class="bi bi-sort-down"></i></a>
                            <a th:unless="${Watchlist.sorting=='netUp' OR Watchlist.sorting=='netDown'}" style="color:#faf3e3" th:href="@{/sortNetChange}"><i class="bi bi-sort-up"></i></a>
                            </h3>
                        </div>
                    </th>
                    <th><div style="display:flex; justify-content:space-between;"> 
                             % CHANGE 
                            <h3>
                            <a th:if="${Watchlist.sorting=='percentUp'}" style="color:#FF9F29" th:href="@{/sortPercentChange}"><i class="bi bi-sort-up"></i></a>
                            <a th:if="${Watchlist.sorting=='percentDown'}" style="color:#FF9F29" th:href="@{/sortPercentChange}"><i class="bi bi-sort-down"></i></a>
                            <a th:unless="${Watchlist.sorting=='percentUp' OR Watchlist.sorting=='percentDown'}" style="color:#faf3e3" th:href="@{/sortPercentChange}"><i class="bi bi-sort-up"></i></a>
                            </h3>
                        </div>  
                    </th>
                    <th> VOLUME ('000) </th>
                    <th> 52 WK HIGH </th>
                    <th> 52 WK LOW </th>
                </tr>
                <tr th:each="Quote:${Watchlist.quotes}">
                    <td>
                        <div style="display:flex; justify-content:space-between">
                            <span><h5 th:text="${Quote.symbol}" ></h5></span>
                            <span><a th:href="@{'/remove/' + ${Quote.symbol}}" > <i class="bi bi-trash me-2"></i></a></span>
                        </div>
                    <p style="margin-top:-10px;"><small><span th:text="${Quote.description}"></span></small></p>
                    </td>
                    <td>
                        <p><span th:text="${Quote.lastPrice}"></span></p>
                        <h6 th:if="${Quote.netChange ge 0}" style="margin-top:-15px; color:green" th:text="${'+' + Quote.netChange}"></h6>
                        <h6 th:if="${Quote.netChange < 0}" style="margin-top:-15px; color:red" th:text="${Quote.netChange}"></h6>
                    </td>
                    <td><span th:text="${#numbers.formatDecimal(Quote.netChange/Quote.lastPrice*100,1,3) + '%'}"></span></td>
                    <td th:text="${#numbers.formatDecimal(Quote.totalVolume/1000,1,'COMMA',1,'DEFAULT')}"></td>
                    <td th:text="${Quote.yearHigh}"></td>
                    <td th:text="${Quote.yearLow}"></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>